.first-section{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background: url(/public/hero.jpg) right bottom /100% 100% no-repeat, rgb(20, 21, 26);
}
