.first-section {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(20, 21, 26);
    background-image: url(/public/hero.jpg);
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
}

.first-section-light {
    background-color: #f1f5f9;
    background-image: url(/public/hero-light.png);
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .first-section {
        background-size: auto 50%;
        background-position: right top;
    }
    
    .first-section-light {
        background-size: auto 50%;
        background-position: right top;
    }
}
